html, body {
    padding: 0;
    margin: 0;
}

body {
    color: #262626;
    font-family: 'Fira Mono', monospace;
    padding: 0 20px;
}

header {
    padding-top: 5%;
    margin: 0 auto 15px;
}

header, main {
    max-width: 700px;
}

main {
    margin: 0 auto 15px;
    line-height: 1.4;
}


h1 {
    margin: 0;
}

small {
    color: #4d4d4d;
}

a {
    text-decoration: none;
    color: #ee0000;
    padding: 3px;
}

a:hover {
    background: #ee0000;
    color: #fff;
}

a:focus {
    color: #000;
    background: #ee0000;
}

.fa {
    font-size: 40px;
}

#links span::before {
    content: '// ';
}

@media screen and (max-width: 550px) {
    #links span {
        display: block;
    }
}
