@import url(http://fonts.googleapis.com/css?family=Slabo+13px);

$page-width: 520px;

@mixin responsive() {
    @media screen and (max-width: 545px) {
        @content;
    }
}

body {
    font-family: 'Slabo 13px', Georgia, serif;
    color: #333;
}

a {
    color: #333;
    text-decoration: none;
    transition: 0.25s color;
    &:hover {
        color: #8E0000;
    }
}

p {
    line-height: 1.4;
}

nav {
    ul {
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            &:first-child {
                margin-left: -20px;
            }

            a {
                padding: 15px 20px;
                display: inline-block;
            }
        }
    }
}

.wrap {
    max-width: $page-width;
    margin: auto;

    padding: 0 15px;
}

.separator {
    background: -moz-linear-gradient(left rgba(239,239,239,0) 0%, rgba(239,239,239,0) 5%, rgba(239,239,239,0.75) 50%, rgba(239,239,239,0) 95%, rgba(239,239,239,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(239,239,239,0)), color-stop(5%, rgba(239,239,239,0)), color-stop(50%, rgba(239,239,239,0.75)), color-stop(95%, rgba(239,239,239,0)), color-stop(100%), rgba(239,239,239,0));
    background: -webkit-linear-gradient(left rgba(239,239,239,0) 0%, rgba(239,239,239,0) 5%, rgba(239,239,239,0.75) 50%, rgba(239,239,239,0) 95%, rgba(239,239,239,0) 100%);
    background: -o-linear-gradient(left rgba(239,239,239,0) 0%, rgba(239,239,239,0) 5%, rgba(239,239,239,0.75) 50%, rgba(239,239,239,0) 95%, rgba(239,239,239,0) 100%);
    background: -ms-linear-gradient(left rgba(239,239,239,0) 0%, rgba(239,239,239,0) 5%, rgba(239,239,239,0.75) 50%, rgba(239,239,239,0) 95%, rgba(239,239,239,0) 100%);
    background: linear-gradient(to right, rgba(239,239,239,0) 0%, rgba(239,239,239,0) 5%, rgba(239,239,239,0.75) 50%, rgba(239,239,239,0) 95%, rgba(239,239,239,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00efefef', endColorstr='#00efefef',GradientType=1);

    h2 {
        padding: 10px 0;
    }
}

#me {
    border-radius: 50%;
    float: right;
    max-width: 45%;
    @include responsive {
        max-width: 55%;
    }
}

@include responsive {
    #links span {
        display: block;
        margin: 1em 0;
    }
}
